body {
	background-color: #141414;
}

.site-layout-content {
	min-height: 813px;
	padding: 30px;
	background: #fff;
}
.logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
	float: right;
	margin: 16px 0 16px 24px;
}
[data-theme='dark'] .site-layout-content {
	background: #141414;
}

.navbar-menu {
	float: right;
}
.ant-layout-header {
	background-color: #262626;
	padding: 0;
}

.login-button {
	background-color: #52c41a;
}

.nav-user-avatar {
	float: right;
	margin-right: 10px;
}

.ant-popover,
.ant-popover-inner-content,
.ant-popover-title {
	color: white;
}
.ant-popover-inner {
	background-color: #141414;
}

.ant-card-meta-description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.text-link:hover {
	color: #1890ff;
	cursor: pointer;
}
.playlist-edit-button {
	display: inline-block;
	margin-right: 10px;
}

.player {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #262626;
	color: #fff;
	height: 120px;
}
.spectrum,
.commands,
.progress {
	display: flex;
	position: absolute;
	height: 120px;
}

.spectrum {
	opacity: 0.5;
	z-index: 0;
}
.progress {
	align-items: center;
	color: white;
	margin-top: 40px;
	height: 60px;
	z-index: 10;
}
.commands {
	margin-top: -20px;
	height: 60px;
}

.play {
	margin-right: 10px;
	margin-left: 10px;
}

.progress-slider {
	width: 480px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
}
.spectrum-item {
	display: inline-block;
	width: 10px;
	height: 1px;
	background-color: #40a9ff;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.spectrum-item-reset {
	transition: height 3s ease-out;
}
