body {
	background-color: #141414;
}

.site-layout-content {
	min-height: 813px;
	padding: 30px;
	background: #fff;
}
.logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
	float: right;
	margin: 16px 0 16px 24px;
}
[data-theme='dark'] .site-layout-content {
	background: #141414;
}

.navbar-menu {
	float: right;
}
.ant-layout-header {
	background-color: #262626;
	padding: 0;
}

.login-button {
	background-color: #52c41a;
}

.nav-user-avatar {
	float: right;
	margin-right: 10px;
}

.ant-popover,
.ant-popover-inner-content,
.ant-popover-title {
	color: white;
}
.ant-popover-inner {
	background-color: #141414;
}

.ant-card-meta-description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.text-link:hover {
	color: #1890ff;
	cursor: pointer;
}
.playlist-edit-button {
	display: inline-block;
	margin-right: 10px;
}

.footer {
	display: flex;
	justify-content: baseline;
	padding-top: 40px;
	/* padding-left: 250px; */
	text-align: center;
	background-color: #262626;
	color: #fff;
	height: 120px;
}
.spectrum-item {
	display: inline-block;
	width: 10px;
	height: 1px;
	background-color: #40a9ff;
	margin-right: 10px;
	border-radius: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.spectrum-item-reset {
	transition: height 3s ease-out;
}
